{% load i18n %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title|default:"Home" }}</title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <link rel="shortcut icon" href="favicon.png">

    {% block header-css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/core.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/custom.css">
    {% endblock %}

    {% block extra-css %}

    {% endblock %}

    {% block header-js %}
        <!---jQuery Files-->
        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/jquery-ui.js"></script>
        <script src="{{ STATIC_URL }}js/inputs.js"></script>
        <script src="{{ STATIC_URL }}js/minicolors.js"></script>
        <script src="{{ STATIC_URL }}js/elfinder.js"></script>
        <script src="{{ STATIC_URL }}js/functions.js"></script>
        <script src="{{ STATIC_URL }}js/datatables.js"></script>
        <script src="{{ STATIC_URL }}js/popup.js"></script>
    {% endblock %}

    {% block extra-js %}

    {% endblock %}

</head>
<body>

<div id="header">
    <a href="{% url "home" %}"><img src="{{ STATIC_URL }}img/logo_wpr (copy).png" alt="{% trans "CHAT TV" %}"></a>

    {% block user-panel %}
        {% if user.is_authenticated %}
            <div class="user-panel">
                {% trans "Hello" %} <b>{{ user.username }}</b>
                <a class="button mg-left" href="{% url "logout" %}">{% trans "Logout" %}</a>
            </div>
        {% endif %}
    {% endblock %}

</div>
<div id="wrapper">
    {% block wrapper %}

        {% block navigation %}
            {% include "includes/navigation.html" %}
        {% endblock %}

        <div id="content">
            {% block messages %}
                {% if messages|length %}
                    {% for message in messages %}
                        <div class="notif blue">{{ message }}</div>
                    {% endfor %}
                    <div class="clear"></div>
                {% endif %}
            {% endblock %}

            {% block main-content %}

            {% endblock %}
        </div>
        <!--END MAIN CONTENT-->

        {% block modal-windows %}

        {% endblock %}
    {% endblock %}
</div>
<!--END WRAPPER-->

  <span id="load">
    <img src="{{ STATIC_URL }}img/load.png"><img src="{{ STATIC_URL }}img/spinner.png" id="spinner">
  </span>

{% block fade-wrapper-js %}
    <script type="text/javascript">
        jQuery(function ($) {
            $.fn.loadfns();
            // $.fn.inputs();
            $('#wrapper, .notification, #forgot-psw').hide();
            $('#load').fadeIn(400);
            $(window).load(function () {
                $('#load').fadeOut(400, function () {
                    $('#wrapper').fadeIn(600);
                });
            });
        });
    </script>
{% endblock %}

{% block body-js %}
    <!---jQuery Code-->
    <script type='text/javascript'>

        // FLUID LAYOUT


    </script>
{% endblock %}

</body>
</html>