{% extends "base.html" %}
{% load i18n %}

{% block main-content %}

    <div class="box g8 coll">
        <div class="box-ttl">{% trans "Add Censoring Word" %}</div>
        <div class="box-body">
            {% include "includes/not-in-demo.html" %}
            <div class="clear"></div>
        </div>
    </div>

    <div class="box g8 coll">
        <div class="box-ttl">{% trans "Upload Censoring Word" %}</div>
        <div class="box-body">
            {% include "includes/not-in-demo.html" %}
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>

    <div class="box g16">
        <div class="box-ttl">{% trans "Censoring Words" %}</div>
        <div class="box-body no-pad datatable-cont">
            {{ table }}
        </div>
    </div>
    <div class="clear"></div>

{% endblock %}