<html>
<head>
    <title>CHAT TV</title>
</head>
<body bgcolor="{{ prefix.background_color }}" scroll="no" topmargin="{{ prefix.top_margin }}" leftmargin="{{ prefix.left_margin }}" marginheight="0" marginwidth="0">
<table width="100%" height="100%">
    <tr>
        <td style="padding-top:{{ prefix.top_margin }}px;padding-bottom:{{ prefix.bottom_margin }}px;padding-left:{{ prefix.left_margin }}px;padding-right:{{ prefix.right_margin }};">
            <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="100%" height="100%"
                    id="chat_tv">
                <param name="allowScriptAccess" value="sameDomain"/>
                <param name="movie" value="{{ STATIC_URL }}{{ path }}"/>
                <param name="loop" value="false"/>
                <param name="menu" value="false"/>
                <param name="quality" value="high"/>
                <param name="allowFullScreen" value="{{ fs }}"/>
                <param name="scale" value="exactfit"/>
                <param name="wmode" value="transparent"/>
                <embed src="{{ STATIC_URL }}{{ path }}" allowFullScreen="{{ fs }}"
                       wmode="transparent" scale="exactfit" loop="false" menu="false" quality="high" width="100%" height="100%" name="chat_tv" align="middle"
                       allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"/>
            </object>
        </td>
    </tr>
</table>
</body>
</html>