{% extends "base.html" %}
{% load i18n %}

{% block main-content %}

    <div class="box g8">
        <div class="box-ttl">{{ box_title }}</div>
        <div class="box-body">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" value="OK" name="confirm">

                <div class="notif orange g16 expanded">
                    {{ msg }}
                </div>
                <div class="clear"></div>
                <div class="mg-top"></div>
                <div>
                    <a href="{{ back_link }}" class="button red flt-r mg-right">{% trans "No" %}</a>
                    <button type="submit" class="green flt-r mg-right">{% trans "Yes" %}</button>
                </div>
                <div class="clear"></div>
            </form>
        </div>
    </div>

{% endblock %}