{% extends "base.html" %}
{% load i18n variable jsmin %}

{% block main-content %}

    {{ form.errors }}

    <form action="" method="post">
        {% csrf_token %}

        <!-- View Mode -->
        <div class="box g16 coll">
            <div class="box-ttl">{% trans "View Mode" %}</div>
            <div class="box-body chbox-radio">

                <div class="box g8">
                    <div class="box-body" style="padding: 10px 10px 10px 0">
                        <div class="flt-r mg-l">
                            <input type="radio" class="chbox chbox-mini" name="message_mode" value="V" {% if form.message_mode.value == 'V' %}checked="checked" {% endif %}>
                        </div>
                        <div class="al-r">
                            <h2 class="mg-btm">{% trans "View Mode" %}</h2>

                            <p>
                                The system displays a single message on screen at a time. <br/>
                                When there are no more posts to show the message area disappears from the screen.
                            </p>

                            <div class="mg-top field g4 flt-r">
                                <label class="">{% trans "Interval (In seconds)" %}</label>
                                {{ form.view_mode_display_time }}
                            </div>

                        </div>
                    </div>

                </div>

                <div class="g8 box">
                    <div class="box-body pad-top">

                        <div class="flt-l mg-l">
                            <input type="radio" class="chbox chbox-mini" name="message_mode" value="C" {% if form.message_mode.value == 'C' %}checked="checked" {% endif %}>
                        </div>
                        <div>
                            <h2 class="mg-btm">{% trans "Chat Mode" %}</h2>

                            <p>
                                The system will display various messages on screen while scrolling up and go. <br>
                                When a message leaves the message area will disappear, but not the message area.
                            </p>

                        </div>
                        <div class="mg-top field g4">
                            <label class="">{% trans "Interval (In seconds)" %}</label>
                            {{ form.chat_mode_display_time }}

                        </div>

                    </div>

                </div>


                {% include "includes/save-btn.html" %}
            </div>
        </div>
        <div class="clear"></div>

        <!-- Moderator Mode -->
        <div class="box coll g16">
            <div class="box-ttl">{% trans "Moderator Mode" %}</div>
            <div class="box-body">
                <div class="chbox-radio">
                    <div class="box g8">
                        <div class="box-body" style="padding: 10px 10px 10px 0">
                            <div class="flt-r mg-l">
                                <input type="radio" id="message_mode_view" class="chbox chbox-mini" name="moderator_mode" value="M"
                                       {% if form.moderator_mode.value == 'M' %}checked="checked" {% endif %}>
                            </div>
                            <div class="al-r">
                                <h2 class="mg-btm">{% trans "Manual Mode" %}</h2>

                                <p>
                                    {% trans "The system must be manually moderate, indicating in each time you want to show messages and what not" %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="g8 box">
                        <div class="box-body pad-top">
                            <div class="flt-l mg-l">
                                <input type="radio" id="message_mode_chat" class="chbox chbox-mini" name="moderator_mode" value="A"
                                       {% if form.moderator_mode.value == 'A' %}checked="checked" {% endif %}>
                            </div>
                            <div>
                                <h2 class="mg-btm">{% trans "Automatic Mode" %}</h2>

                                <p>
                                    {% trans "The system automatically moderate messages using a list of censored words and changing them by asterisks." %}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="g16 box pad pad-top">
                    <div class="flt-l mg-l">
                        <input type="checkbox" id="id_send_random_message" class="chbox chbox-mini" name="send_random_message" {% if form.send_random_message.value %} checked="checked" {% endif %} >
                    </div>
                    <div>
                        <h2 class="mg-btm">{% trans "Send random messages." %}</h2>

                        <p>{% trans "Enable this option to send random messages when there are no messages to show." %}</p>
                    </div>
                    <div class="clear"></div>
                </div>

                {% include "includes/save-btn.html" %}
            </div>
        </div>
        <div class="clear"></div>

        <!-- Display Mode -->
        <div class="box g16">
            <div class="box-ttl">{% trans "On Air / Off Air Mode" %}</div>
            <div class="box-body">
                <div class="g16 box pad pad-top">
                    <div class="flt-l mg-l">
                        <input type="checkbox" id="id_on_air" class="chbox chbox-mini" name="on_air" {% if form.on_air.value %} checked="checked" {% endif %} >
                    </div>
                    <div>
                        <h2 class="mg-btm">{% trans "On air / Off air mode." %}</h2>

                        <p>{% trans "Check this option to be on air ie full screen mode." %}</p>
                    </div>
                    <div class="clear"></div>
                </div>

                {% include "includes/save-btn.html" %}
            </div>
        </div>

        <!-- Colors -->
        <div class="box g8">
            <div class="box-ttl">{% trans "Colors" %}</div>
            <div class="box-body">


                {% include "includes/pref-background-image.html" with field=form.background_image %}
                {% include "includes/color-picker.html" with field=form.background_color %}
                {% include "includes/color-picker.html" with field=form.message_color %}
                {% include "includes/color-picker.html" with field=form.message_text_color %}
                {% include "includes/color-picker.html" with field=form.message_stripper_color %}
                {% include "includes/color-picker.html" with field=form.box_background_color %}
                {% include "includes/save-btn.html" %}
            </div>
        </div>

        <!-- Marquee Colors -->
        <div class="box g8">
            <div class="box-ttl">{% trans "Marquee Colors" %}</div>
            <div class="box-body">
                {% include "includes/color-picker.html" with field=form.marquee_text_color %}
                {% include "includes/color-picker.html" with field=form.marquee_highlighted_text_color %}
                {% include "includes/color-picker.html" with field=form.marquee_background_color %}
                {% include "includes/color-picker.html" with field=form.price_text_color %}
                {% include "includes/save-btn.html" %}
            </div>
        </div>
        <div class="clear"></div>

        <!-- Download Instructions -->
        <div class="box g8">
            <div class="box-ttl">{% trans "Download Instructions" %}</div>
            <div class="box-body">
                {% include "includes/color-picker.html" with field=form.color_download_instructions %}
                {% include "includes/color-picker.html" with field=form.color_discharge_words %}
                {% include "includes/color-picker.html" with field=form.color_number_of_downloads %}
                {% include "includes/color-picker.html" with field=form.background_color_box_download %}
                {% include "includes/save-btn.html" %}
            </div>
        </div>

        <!-- Margins -->
        <div class="box g8">
            <div class="box-ttl">{% trans "Margins" %}</div>
            <div class="box-body pad-top">
                {% include "includes/numeric-input.html" with field=form.top_margin %}
                {% include "includes/numeric-input.html" with field=form.left_margin %}
                {% include "includes/numeric-input.html" with field=form.right_margin %}
                {% include "includes/numeric-input.html" with field=form.bottom_margin %}
                {% include "includes/save-btn.html" %}
            </div>
        </div>
        <div class="clear"></div>

        <!-- Responses -->
        <div class="g8 box">
            <div class="box-ttl">{% trans "Replies" %}</div>
            <div class="box-body">

                {% include "includes/textbox.html" with field=form.ok_response %}
                {% include "includes/textbox.html" with field=form.number_censored_response %}
                {% include "includes/textbox.html" with field=form.text_censored_response %}
                {% include "includes/save-btn.html" %}

            </div>
        </div>

        <div class="clear"></div>
    </form>

    <script type="text/javascript">
        jQuery(function ($) {
            $('.mg-top.field.g4 select').addClass('g4');
            $('.mg-top.field.g4.flt-r select').addClass('flt-r');
        });
    </script>

    <script type="text/javascript">
        {% jsrmln %}
            $.fn.loadfns(function () {
                $.fn.inputgrp();
            });
            $.fn.inputs();
            {#{% jsmin %}#}

            // Form Validation
            jQuery(function ($) {
                var
                        options,
                        main_form = $("form"),
                        form_container = main_form.parent();
                options = {};
                $('form').attr('novalidate', 'novalidate');
                jQuery.extend(options, {
                    rules : {
                        {% for form_field in form %}
                            {% assign field form_field.field %}
                            "{{ form_field.html_name }}" : {

                                {% if field.required %}
                                    "required" : true,
                                {% endif %}

                                {% if field.integer %}
                                    "number" : true,
                                {% endif %}

                                {% if field.email %}
                                    "email" : true,
                                {% endif %}

                                {% if field.url %}
                                    "url" : true,
                                {% endif %}

                                {% if field.min_length %}
                                    "minlength" : {{ field.min_length }},
                                {% endif %}

                                {% if field.max_length %}
                                    "maxlength" : {{ field.max_length }},
                                {% endif %}

                            },
                        {% endfor %}
                    },

                    messages : {
                        {% for form_field in form %}
                            "{{ form_field.html_name }}" : {
                                {% assign field form_field.field %}
                                {% assign messages field.error_messages %}

                                {% if field.required %}
                                    "required" : "{{ messages.required }}",
                                {% endif %}

                                {% if field.integer %}
                                    "number" : "{{ messages.invalid }}",
                                {% endif %}

                                {% if field.email %}
                                    "email" : "{{ messages.invalid }}",
                                {% endif %}

                                {% if field.url %}
                                    "url" : "{{ messages.invalid }}",
                                {% endif %}
                            },
                        {% endfor %}
                    }
                });
                main_form.validate(options);
            });
        {% endjsrmln %}
    </script>

{% endblock %}
