{% extends "base.html" %}
{% load i18n %}

{% block main-content %}

    <div class="box g8">
        <div class="box-ttl">{{ form_heading }}</div>
        <div class="box-body">{{ form }}</div>
    </div>

{% endblock %}