{% extends "base.html" %}
{% load i18n %}

{% block main-content %}
    <div class="home-page">
        <div class="box g16">
            <div class="box-ttl">{% trans "Message Management" %}</div>
            <div class="box-body">
                <div><strong>{% trans "Enter message" %} : </strong>{% trans "Enter message you want to display." %}</div>
                <div><strong>{% trans "Managing messages" %} : </strong>{% trans "Moderate incoming messages and view show." %}</div>
                <div><strong>{% trans "Random Messages" %} : </strong>{% trans "Enter messages you want to display randomly when there are no incoming messages" %}</div>
            </div>
        </div>

        <div class="box g16">
            <div class="box-ttl">{% trans "Censorship Management" %}</div>
            <div class="box-body">
                <div><strong>{% trans "Censoring words" %} : </strong>{% trans "Enter the words you want to automatically censr." %}</div>
                <div><strong>{% trans "Censoring phone" %} : </strong>{% trans "Enter the phone numbers you want to automatically censor." %}</div>
        </div>
	</div>
        <div class="box g16">
            <div class="box-ttl">{% trans "CHAT Management" %}</div>
            <div class="box-body">
                <div><strong>{% trans "Preferences" %} : </strong>{% trans "Modify all preferences and save your settings before launching the chat" %}</div>
                <div><strong>{% trans "Launching Chat" %} : </strong>{% trans "Launch chat with the settings saved in preferences." %}</div>
        </div>
    </div>
{% endblock %}
