{% extends "base.html" %}
{% load i18n %}

{% block header-css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/login.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ui.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/global.css">
{% endblock %}

{% block wrapper %}
    <div id="header">
        <div id="logo"></div>
        <h1>{% trans "LOGIN" %}</h1>
    </div>

    <div id="body">
        <div id="head">
            <span class="icon">K</span>

            <h2>{% trans "Enter your credentials to login" %}</h2>
            <br class="clear">
        </div>
        <form id="alt-lg-form" method="post" action="">
            {% if error %}
                <div class="notif red">{{ msg }}</div>
            {% endif %}

            {% csrf_token %}
            <div id="middle">
                <ul id="lg-input">
                    <li id="usr-li">
                        <input type="text" name="user" id="usr" class="required" placeholder="{% trans "Username" %}" value="">
                        <span class="icon">a</span>
                    </li>
                    <li id="psw-li">
                        <input type="password" name="pass" id="psw" class="required" placeholder="Password">
                        <span class="icon">/</span>
                    </li>
                </ul>
            </div>

            <div id="bottom">
                <button type="submit" id="lg-submit" class="button inset submit">{% trans "LOGIN" %}</button>
                <br class="clear">
            </div>
        </form>
    </div>
{% endblock %}

{% block fade-wrapper-js %}

{% endblock %}

{% block body-js %}
    <script type='text/javascript'>
        $('#wrapper, .notification, #forgot-psw').hide();
        $('#load').fadeIn(400);
        $(window).load(function () {
            $('#load').fadeOut(400, function () {
                $('#wrapper').fadeIn(600, function () {
                    $('#welcome.notification').delay(500).fadeIn(400).loginNotif();
                    $('#psw').focus();
                });
            });
        });

        $('#rb-check').flcheck();

        $('#alt-lg-form').validateLogin();

    </script>
{% endblock %}