{% extends "base.html" %}
{% load i18n %}

{% block main-content %}

    <div class="box g16">
        <div class="box-ttl">{% trans "Pending Messages" %}</div>
        <div class="box-body no-pad datatable-cont">
            {{ pending_table }}
        </div>
    </div>
    <div class="clear"></div>

    <div class="box g16">
        <div class="box-ttl">{% trans "Verified Messages" %}</div>
        <div class="box-body no-pad datatable-cont">
            {{ verified_table }}
        </div>
    </div>
    <div class="clear"></div>

{% endblock %}