{% extends "base.html" %}

{% block main-content %}
    <div class="box g-16">
        <div class="box-ttl">{{ message_heading }}</div>
        <div class="boxbody">
            <div class="notif {{ color }}">{{ message }}</div>
        </div>
    </div>
{% endblock %}