{% extends "base.html" %}
{% load i18n %}

{% block main-content %}

    <div class="box g8 coll">
        <div class="box-ttl">{% trans "Add Random Message" %}</div>
        <div class="box-body">
            {{ add_form }}
            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>

    <div class="box g16">
        <div class="box-ttl">{% trans "Random Messages" %}</div>
        <div class="box-body no-pad datatable-cont">
            {{ table }}
        </div>
    </div>
    <div class="clear"></div>

{% endblock %}
