{% load i18n %}
{% if value == 'A' %}
    <span class="badge green">{% trans "Approved" %}</span>
{% elif value == 'B' %}
    <span class="badge red">{% trans "Blocked" %}</span>
{% elif value == 'S' %}
    <span class="badge green">{% trans "Published" %}</span>
{% else %}
    <span class="badge blue">{% trans "Pending" %}</span>
{% endif %}