{% load i18n  %}
<div class="mg-top mg-btm">
    <label class="g4" for="id_{{ field.html_name }}"><strong>{{ field.label }} : </strong></label>

    <div class="cont g12 color-picker">
        <input name="{{ field.html_name }}" id="id_{{ field.html_name }}" type="minicolors" class="colorpicker no-mg-btm full" value="{{ field.value }}"
               placeholder="{% trans "Select a color..." %}">
        {% if field.errors %}
            {% for error_msg in field.errors %}
                <span class="input-error icon ttip" data-ttip="{{ error_msg }}" data-ttip-opt="left" data-trigger="1">X</span>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="clear"></div>