{% load logger jsmin variable get_attr i18n %}

{% block form_common_error %}
    {% if form.errors|length %}
        <div class="notif red g16">
            {% trans "Please correct the errors." %}
            {% for err in form.non_field_errors %}
                <span>{{ err }}</span>
            {% endfor %}
        </div>
        <div class="clear"></div>
    {% endif %}
{% endblock %}

<form id="{{ form_id }}" action="{{ form_action }}" {% if form.is_multipart %}enctype="multipart/form-data" {% endif %} method="{{ method }}" accept-charset="utf-8">
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div>
            {% if field.field.required %}
                <label class="g4" for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong> *</label>
            {% else %}
                {{ field.label_tag }}
            {% endif %}
            <div class="g12 field">
                {{ field }}
                {% if field.errors %}
                    {% for error_msg in field.errors %}
                        <span class="input-error icon ttip" data-ttip="{{ error_msg }}" data-ttip-opt="left" data-trigger="1">X</span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="clear"></div>
    {% endfor %}

    {% block form_submit %}
        {#        <div class="g13"></div>#}
        <button type="submit" class="green btn-m flt-r mg-right">{{ form_submit|default:"Submit" }}</button>
    {% endblock %}

    {% if csrf_token_html %}
        {{ csrf_token_html }}
    {% else %}
        {% csrf_token %}
    {% endif %}

</form>


<script type="text/javascript">
    {% jsrmln %}
    $.fn.loadfns(function () {
        $.fn.inputgrp();
    });
    $.fn.inputs();
    {#{% jsmin %}#}

    // Form Validation
    {% if has_validation %}
        {% block validation %}
            // This is used to ensure validation in hidden fields.
            // $.validator.setDefaults({ ignore : [] });


            jQuery(function ($) {
                var
                        options,
                        main_form = $("#" + "{{ form_id }}"),
                        form_container = main_form.parent();

                {% block validation_options %}
                    options = {};
                {% endblock %}

                {% if debug %}
                    if (options === undefined) {
                        alert('Options not defined.');
                    }
                {% endif %}

                $('form').attr('novalidate', 'novalidate');
                jQuery.extend(options, {
                    rules : {
                        {% for form_field in form %}
                            {% assign field form_field.field %}
                            "{{ form_field.html_name }}" : {

                                {% if field.required %}
                                    "required" : true,
                                {% endif %}

                                {% if field.integer %}
                                    "number" : true,
                                {% endif %}

                                {% if field.email %}
                                    "email" : true,
                                {% endif %}

                                {% if field.url %}
                                    "url" : true,
                                {% endif %}

                                {% if field.min_length %}
                                    "minlength" : {{ field.min_length }},
                                {% endif %}

                                {% if field.max_length %}
                                    "maxlength" : {{ field.max_length }},
                                {% endif %}

                            },
                        {% endfor %}
                    },

                    messages : {
                        {% for form_field in form %}
                            "{{ form_field.html_name }}" : {
                                {% assign field form_field.field %}
                                {% assign messages field.error_messages %}

                                {% if field.required %}
                                    "required" : "{{ messages.required }}",
                                {% endif %}

                                {% if field.integer %}
                                    "number" : "{{ messages.invalid }}",
                                {% endif %}

                                {% if field.email %}
                                    "email" : "{{ messages.invalid }}",
                                {% endif %}

                                {% if field.url %}
                                    "url" : "{{ messages.invalid }}",
                                {% endif %}
                            },
                        {% endfor %}
                    }
                });
                main_form.validate(options);
            });
        {% endblock %}
    {% endif %}

    // Widget Javascript
    {% block widget_js %}
        {% for field in form %}
            {% if field.field.widget.has_js %}
                {{ field.field.widget.render_js }}
            {% endif %}
        {% endfor %}
    {% endblock %}

    {% if focus_first %}
        // Select first input
        {% block focus_elem %}
            jQuery(function ($) {
                $("input:first").focus();
            });
        {% endblock %}
    {% endif %}

    {#{% endjsmin %}#}
    {% endjsrmln %}
</script>