{% load i18n %}
<div id="nav">
    <div>
        <ul>
            <li><h4>{% trans "Message Management" %}</h4></li>
            <li><img src="{{ STATIC_URL }}img/icons/b1-1.png" alt=""><a href="{% url "add-message" %}">{% trans "Add Message" %}</a></li>
            <li><img src="{{ STATIC_URL }}img/icons/b1-2.png" alt=""><a href="{% url "manage-message" %}">{% trans "Manage Message" %}</a></li>
            <li><img src="{{ STATIC_URL }}img/icons/b1-3.png" alt=""><a href="{% url "random-messages" %}">{% trans "Random Messages" %}</a></li>
        </ul>
        <br class="clear">
    </div>


    <div>
        <ul>
            <li><h4>{% trans "Censorship Management" %}</h4></li>
            <li><img src="{{ STATIC_URL }}img/icons/b2-1.png" alt=""><a href="{% url "censoring-words" %}">{% trans "Censoring Words" %}</a></li>
            <li><img src="{{ STATIC_URL }}img/icons/b2-2.png" alt=""><a href="{% url "censoring-phones" %}">{% trans "Censoring Numbers" %}</a></li>
        </ul>
        <br class="clear">
    </div>


    <div>
        <ul>
            <li><h4>{% trans "CHAT Management" %}</h4></li>
            <li><img src="{{ STATIC_URL }}img/icons/b4-1.png" alt=""><a href="{% url "edit-preferences" "IBER" %}">{% trans "Preferences" %}</a></li>
            <li><img src="{{ STATIC_URL }}img/icons/b4-2.png" alt=""><a class="popup"   href="{% url "chat" "IBER" %}">{% trans "Launch CHAT" %}</a></li>
        </ul>
        <br class="clear">
    </div>

</div>

<script type="text/javascript">
    $('#nav ul li a.popup').popupWindow({
        height : 600,
        width : 800,
        centerScreen: true
    });
</script>