{% load i18n %}
<div class="mg-btm mg-top">
    <label class="g4" for="id_{{ field.html_name }}"><strong>{{ field.label }} : </strong></label>


    <div class="g12 field">
        <input name="{{ field.html_name }}" id="id_{{ field.html_name }}" type="text" class="full" value="{{ field.value }}">
        {% if field.errors %}
            {% for error_msg in field.errors %}
                <span class="input-error icon ttip" data-ttip="{{ error_msg }}" data-ttip-opt="left" data-trigger="1">X</span>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    jQuery(function ($) {
        $("#id_" + '{{ field.html_name }}').spinner({
            min : 0,
            max : 99
        })
    });
</script>