{% load i18n %}

<div class="mg-top mg-btm">
    <label class="g4" for="id_{{ field.html_name }}"><strong>{{ field.label }} : </strong></label>

    <div class="cont g12 color-picker">

        <select name="{{ field.html_name }}" id="id_{{ field.html_name }}" class="full">
            <option value="transparent"{% if field.value == 'transparent' %} selected="selected"{% endif %}>--{% trans "None" %}--</option>
            <option value="erotic.jpg"{% if field.value == 'erotic.jpg' %} selected="selected"{% endif %}>Erotic</option>
            <option value="football.jpg"{% if field.value == 'football.jpg' %} selected="selected"{% endif %}>Football</option>
            <option value="hearts.jpg"{% if field.value == 'hearts.jpg' %} selected="selected"{% endif %}>Hearts</option>
            <option value="pub.jpg"{% if field.value == 'pub.jpg' %} selected="selected"{% endif %}>Pub</option>
            <option value="solidarity.jpg"{% if field.value == 'solidarity.jpg' %} selected="selected"{% endif %}>Solidarity</option>
        </select>

        {% if field.errors %}
            {% for error_msg in field.errors %}
                <span class="input-error icon ttip" data-ttip="{{ error_msg }}" data-ttip-opt="left" data-trigger="1">X</span>
            {% endfor %}
        {% endif %}
    </div>
</div>
<div class="clear"></div>