{% load jsmin %}
{% block html %}
    <table id="{{ table_id }}" class="display table">
        <thead>
        <tr>
            {% for column in columns %}
                <th {% if column.title_width %} style="width: {{ column.title_width }}"{% endif %} >{{ column.title }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="{{ columns|length }}">{% block loading_message %}{{ loading_message }}{% endblock %}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% jsrmln %}
            jQuery(function () {
                $("#" + "{{ table_id }}").dataTable({
                    "bProcessing" : true,
                    "bServerSide" : true,
                    "iDisplayLength" : {{ display_length }},
                    "aLengthMenu" : [
                        [2, 3, 5, 10, 25, 50, 100],
                        [2, 3, 5, 10, 25, 50, 100]
                    ],
                    "fnDrawCallback" : function (oSettings) {
                        $.fn.makeSelect();
                    },
                    "sPaginationType" : "full_numbers",
                    "bPaginate" : true,
                    "sAjaxSource" : "{{ ajax_source }}",
                    "aoColumns" : [
                        {% for column in columns %}
                            {
                                "bSortable" : {% if column.sortable %}true{% else %}false{% endif %},
                                "bSearchable" : {% if column.searchable %}true{% else %}false{% endif %},
                                {% if column.title_width %}"sWidth": "{{ column.title_width }}" {% endif %}
                            },
                        {% endfor %}
                    ],
                    "oLanguage" : {
                        {% if info_empty %}"sZeroRecords" : "{{ info_empty }}",{% endif %}
                        {% if info_loading %}"sLoadingRecords" : "{{ info_loading }}",{% endif %}
                        "sProcessing" : '<img src="/static/img/load.png"><img src="/static/img/spinner.png" class="spinner">'
                    }
                });
            });
        {% endjsrmln %}
    </script>
{% endblock %}