/* Overriding CSS */

#wrapper {
    top: 80px;
    display: none;
}

#content {
    left: 250px;
}

#nav {
    width: 200px;
}

#nav li {
    padding: 0;
}

#nav li h4 {
    padding: 10px 0;
    color: #f0a602;
}

#nav {
    position: static;
    margin-left: 25px;
    margin-top: 25px;
}

#nav li img {
    height: 16px;
    width: 16px;
    float: left;
    margin: 5px 5px 0;
}

#nav li a {
    padding: 10px;
    color: #999;
    text-align: left;
    position: relative;
    display: block;
}

#nav > div {
    margin-bottom: 25px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07), 0 -1px 1px rgba(255, 255, 255, 0.05);
}

/* Custom CSS */

#header {
    height: 80px;
}

#header img {
    margin-left: 25px;
    margin-top: 15px;
}

.home-page .box-body {
    padding: 15px;
}

.home-page .box-body div {
    padding: 5px 0;
}

.home-page .box-body div strong {
    color: #f0a602;
}

/* Form DESIGN */
.box form {
    padding-top: 15px;
}

form div.field {
    position: relative;
}

form div.field input,
form div.field textarea,
form div.field select {
    width: 100%;
}

form div.field .select {
    width: 90%;
}

form div.field textarea,
form div.field .drop {
    margin: 0 0 10px;
}

form div.field .input-error {
    top: 22px;
    right: 8px;
    margin-top: -15px;
}

form div.file-sel .input-error {
    right: 28px !important;
}

form .g12 {
    margin: 0;
}

/* Data table design */
.dataTables_filter {
    width: 250px;
    text-align: right;
}

.dataTables_filter input {
    margin-left: 5px;
}

/* User Panel */
.user-panel {
    float: right;
    padding: 10px;

    color: #999;
    position: relative;
    margin-right: 25px;
    margin-top: 25px;
    border-radius: 4px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 #000;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08), 0 -1px 1px rgba(255, 255, 255, 0.05);

}

element.style {
    visibility: visible;
}

.dataTables_processing {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 14px 0 2px 0;
    border: 0px;
    text-align: center;
    color: #999999;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    overflow: hidden;
    text-indent: -9999px;
}

.dataTables_processing img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    left: 50%;
    margin-left: -15px;
}

.dataTables_processing img.spinner {
    -webkit-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
}

/* Min Width */

@media only screen and (max-width: 839px) {
    #nav {
        display: block;
        width: 90%;
        margin: 0 5%;
    }

    #content {
        min-width: 640px;
        margin: 0 auto;
        left: 29px;
        top: auto !important;
    }
}



.color-picker .input-error {
    right: 32px !important;
    margin-top: 5px !important;
    z-index: 9999;
}